if SHIELD_SCROLLER

config ZMK_KEYBOARD_NAME
    default "Scroller"

config ZMK_BATTERY
    default y

config ZMK_USB
    default y

config ZMK_BATTERY_REPORTING
    default y

config ADC
    default y
    
endif