/ {
    chosen {
    };

    rotary_encoder_0: rotary_encoder_0 {
        compatible = "alps,ec11";
        steps = <4>;

        a-gpios = <&pro_micro 10 GPIO_PULL_UP>;
        b-gpios = <&pro_micro 16 GPIO_PULL_UP>;
    };
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&rotary_encoder_0>;
        triggers-per-rotation = <20>;
    };
};