#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {

    behaviors {
        scroll_rotation: sensor_rotation_scroll {
                compatible = "zmk,behavior-sensor-rotate-var";
                #sensor—bindings-cells = <2>;
                bindings = <&msc>, <&msc>;
                tap—ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &none 
            >;
            sensor-bindings = <&msc SCRL_DOWN &msc SCRL_UP>;

            };
        };
    };
};